<div class="container-fluid">
    <div class="row">
        <form class="searchForm" (ngSubmit)="f.valid && searchs(search)" #f="ngForm" novalidate>

            <div class="form-group">
                <input matInput placeholder="Search" name="name" [(ngModel)]="search.name" #name="ngModel" required pattern="^[a-zA-Z]+[(?<=\d\s]*([a-zA-Z]+\s)*[a-zA-Z]+$" minlength="3" maxlength="25" />


            </div>

            <div class="form-group">
                <input type="checkbox" name="checkbox" [(ngModel)]="search.checkbox" #checkbox="ngModel" required>By Name
            </div>
            <button type="submit" class="btn btn-success" [disabled]="(!f.valid)" (click)="searchs(search)">Search</button>
        </form>
    </div>
</div>
<div *ngIf="beers">
    <section class="info-tiles">
        <div class="tile is-ancestor">
            <div class="columns is-multiline">
                <div class="tile is-parent is-3 column" *ngFor="let beer of beers">
                    <article class="tile is-child box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64 is-1by3">
                                    <img [src]="beer.image_url" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <a class="green-anchor" [routerLink]="['/beer', beer.id]">
                                        <strong>{{beer.name}}</strong>
                                    </a>
                                    <p class="block-with-text">
                                        {{ beer.description }}
                                    </p>
                                </div>
                            </div>
                        </article>

                    </article>
                </div>
            </div>
        </div>
    </section>
</div>